* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: auto;
    height: auto;
    margin: 0px;
    padding: 0px;
    background: rgb(139,85,255);
    background: linear-gradient(90deg, rgba(139,85,255,1) 35%, rgba(93,220,230,1) 100%);
    font-family: 'Raleway', sans-serif;
}

div#global {
    width: auto;
    height: auto;
}

nav {
    border: 5px;
    border-color: black;
}

div.container-fluid p {
    margin-top: 1%;
    font-size: large;
}

ul {
    list-style: none;
}

a.nav-itens {
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 5px;
    font-size: large;
}

a.nav-itens :hover {
    color: #8C54FF;
}

div.carrossel {
    box-shadow: 0px 5px 5px white;
}

div.conteudo {
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
}

h1 {
    padding: 2%;
    color: white;
    font-size: xx-large;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
}

hr:not([size]) {
    height: 2px;
}

hr.hr {
    width: 100%;
    height: 3px;
    background-color: white;
    margin: 5px;
}

p.texto {
    padding: 3%;
    color: white;
    font-size: large;
}

img.img {
    width: 45%;
    height: 45%;
    margin-bottom: 5%;
    margin: 2%;
    box-shadow: 10px 10px 10px white;
}

img.img:hover {
    transform: scale(1.05);
    transition: 250ms linear; 
}

div#img-etec {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#cards {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div.card {
    text-align: center;
}

div.card:hover {
    transform: scale(1.05);
    transition: 250ms linear; 
}

p.card-text {
    margin: 0px;
    font-size: large;
}

div.imagens {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    gap: 10px;
}

footer#rodape {
    background-color: white;
    width: 100%;
    height: auto;
    margin-top: 3%;
}

div.footer {
    padding: 2%;
    padding-left: 5%;
}

h4 {
    text-decoration: none;
    font-size: medium;
    font-family: 'Raleway', sans-serif;
}

p.rodapeP {
    text-decoration: none;
    color: black;
    margin: 0px;
    font-size: large;
    font-family: 'Raleway', sans-serif;
}

a#linkRodape {
    font-family: 'Raleway', sans-serif;
    color: black;
}

@media screen and (max-width: 800px) {
    div.conteudo {
        margin-top: 2%;
        margin-left: 7%;
        margin-right: 7%;
    }

    p.texto {
        font-size: medium;
    }

    div#img-etec {
        display: flex;
        flex-wrap: wrap;
    }

    
    div#cards {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
  }

  @media screen and (max-width: 760px) {
    
  }